misc.txt
happy_brain/runs/Apr01_21-12-00_Zephyrus/events.out.tfevents.1743556321.Zephyrus.36728.0
happy_brain/runs/Apr01_21-22-46_Zephyrus/events.out.tfevents.1743556967.Zephyrus.37764.0
happy_brain/runs/Apr01_21-55-23_Zephyrus/events.out.tfevents.1743558923.Zephyrus.32720.0
paste1.txt
prompt.txt
hf_cache/.locks/models--tanusrich--Mental_Health_Chatbot/03988ce443d33477ef32b3eaf75d4f1cf5d90151a173097985b4b09483f95268.lock
hf_cache/.locks/models--tanusrich--Mental_Health_Chatbot/7401fe0dd160db292365f65d06424e087c03524985920f42dc1e68ce0f401896.lock
hf_cache/.locks/models--tanusrich--Mental_Health_Chatbot/b2bf4c94feb4e375cfbcd4c4cdcf74ac5e318f47318d7f63907d2e53aee0302d.lock
hf_cache/models--tanusrich--Mental_Health_Chatbot/.no_exist/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/chat_template.jinja
hf_cache/models--tanusrich--Mental_Health_Chatbot/.no_exist/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/model.safetensors
hf_cache/models--tanusrich--Mental_Health_Chatbot/blobs/03988ce443d33477ef32b3eaf75d4f1cf5d90151a173097985b4b09483f95268.incomplete
hf_cache/models--tanusrich--Mental_Health_Chatbot/blobs/7401fe0dd160db292365f65d06424e087c03524985920f42dc1e68ce0f401896.incomplete
hf_cache/models--tanusrich--Mental_Health_Chatbot/blobs/b2bf4c94feb4e375cfbcd4c4cdcf74ac5e318f47318d7f63907d2e53aee0302d.incomplete
hf_cache/models--tanusrich--Mental_Health_Chatbot/refs/main
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/added_tokens.json
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/config.json
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/model.safetensors.index.json
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/special_tokens_map.json
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/tokenizer_config.json
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/tokenizer.json
hf_cache/models--tanusrich--Mental_Health_Chatbot/snapshots/b3151187aac7dd06fad5554236fa2ce4ec1b9e57/tokenizer.model
logs/events.out.tfevents.1743734852.Zephyrus.34608.0
logs/events.out.tfevents.1743735344.Zephyrus.42608.0
roberta-emotion/runs/Apr04_11-40-05_Zephyrus/events.out.tfevents.1743781206.Zephyrus.9764.0
roberta-emotion/checkpoint-1000/config.json
roberta-emotion/checkpoint-1000/merges.txt
roberta-emotion/checkpoint-1000/model.safetensors
roberta-emotion/checkpoint-1000/optimizer.pt
roberta-emotion/checkpoint-1000/rng_state.pth
roberta-emotion/checkpoint-1000/scheduler.pt
roberta-emotion/checkpoint-1000/special_tokens_map.json
roberta-emotion/checkpoint-1000/tokenizer_config.json
roberta-emotion/checkpoint-1000/tokenizer.json
roberta-emotion/checkpoint-1000/trainer_state.json
roberta-emotion/checkpoint-1000/training_args.bin
roberta-emotion/checkpoint-1000/vocab.json
roberta-emotion/checkpoint-1014/config.json
roberta-emotion/checkpoint-1014/merges.txt
roberta-emotion/checkpoint-1014/model.safetensors
roberta-emotion/checkpoint-1014/optimizer.pt
roberta-emotion/checkpoint-1014/rng_state.pth
roberta-emotion/checkpoint-1014/scheduler.pt
roberta-emotion/checkpoint-1014/special_tokens_map.json
roberta-emotion/checkpoint-1014/tokenizer_config.json
roberta-emotion/checkpoint-1014/tokenizer.json
roberta-emotion/checkpoint-1014/trainer_state.json
roberta-emotion/checkpoint-1014/training_args.bin
roberta-emotion/checkpoint-1014/vocab.json
roberta-emotion/checkpoint-500/config.json
roberta-emotion/checkpoint-500/merges.txt
roberta-emotion/checkpoint-500/model.safetensors
roberta-emotion/checkpoint-500/optimizer.pt
roberta-emotion/checkpoint-500/rng_state.pth
roberta-emotion/checkpoint-500/scheduler.pt
roberta-emotion/checkpoint-500/special_tokens_map.json
roberta-emotion/checkpoint-500/tokenizer_config.json
roberta-emotion/checkpoint-500/tokenizer.json
roberta-emotion/checkpoint-500/trainer_state.json
roberta-emotion/checkpoint-500/training_args.bin
roberta-emotion/checkpoint-500/vocab.json
t5-response/runs/Apr04_16-23-53_Zephyrus/events.out.tfevents.1743798234.Zephyrus.7720.0
t5-response/runs/Apr04_16-43-52_Zephyrus/events.out.tfevents.1743799444.Zephyrus.7720.1
t5-response/runs/Apr04_16-57-36_Zephyrus/events.out.tfevents.1743800259.Zephyrus.7720.2
t5-response/runs/Apr04_17-32-04_Zephyrus/events.out.tfevents.1743802325.Zephyrus.7720.5
t5-response/runs/Apr04_18-42-56_Zephyrus/events.out.tfevents.1743806576.Zephyrus.7720.7
t5-response/runs/Apr04_18-53-47_Zephyrus/events.out.tfevents.1743807228.Zephyrus.24408.0
t5-response/runs/Apr04_18-56-13_Zephyrus/events.out.tfevents.1743807374.Zephyrus.15140.0
t5-response/runs/Apr04_19-22-31_Zephyrus/events.out.tfevents.1743808954.Zephyrus.15140.2
t5-response/runs/Apr04_19-24-31_Zephyrus/events.out.tfevents.1743809072.Zephyrus.15140.3
t5-response/runs/Apr04_19-30-35_Zephyrus/events.out.tfevents.1743809435.Zephyrus.15140.5
t5-response/runs/Apr04_19-36-53_Zephyrus/events.out.tfevents.1743809814.Zephyrus.15140.7
t5-qa/checkpoint-10/added_tokens.json
t5-qa/checkpoint-10/config.json
t5-qa/checkpoint-10/generation_config.json
t5-qa/checkpoint-10/model.safetensors
t5-qa/checkpoint-10/optimizer.pt
t5-qa/checkpoint-10/rng_state.pth
t5-qa/checkpoint-10/scheduler.pt
t5-qa/checkpoint-10/special_tokens_map.json
t5-qa/checkpoint-10/spiece.model
t5-qa/checkpoint-10/tokenizer_config.json
t5-qa/checkpoint-10/trainer_state.json
t5-qa/checkpoint-10/training_args.bin
t5-qa/checkpoint-198/added_tokens.json
t5-qa/checkpoint-198/config.json
t5-qa/checkpoint-198/generation_config.json
t5-qa/checkpoint-198/model.safetensors
t5-qa/checkpoint-198/optimizer.pt
t5-qa/checkpoint-198/rng_state.pth
t5-qa/checkpoint-198/scheduler.pt
t5-qa/checkpoint-198/special_tokens_map.json
t5-qa/checkpoint-198/spiece.model
t5-qa/checkpoint-198/tokenizer_config.json
t5-qa/checkpoint-198/trainer_state.json
t5-qa/checkpoint-198/training_args.bin
t5-qa/checkpoint-6/added_tokens.json
t5-qa/checkpoint-6/config.json
t5-qa/checkpoint-6/generation_config.json
t5-qa/checkpoint-6/model.safetensors
t5-qa/checkpoint-6/optimizer.pt
t5-qa/checkpoint-6/rng_state.pth
t5-qa/checkpoint-6/scheduler.pt
t5-qa/checkpoint-6/special_tokens_map.json
t5-qa/checkpoint-6/spiece.model
t5-qa/checkpoint-6/tokenizer_config.json
t5-qa/checkpoint-6/trainer_state.json
t5-qa/checkpoint-6/training_args.bin
t5-qa/runs/Apr04_17-11-56_Zephyrus/events.out.tfevents.1743801118.Zephyrus.7720.3
t5-qa/runs/Apr04_17-14-48_Zephyrus/events.out.tfevents.1743801291.Zephyrus.7720.4
t5-qa/runs/Apr04_17-57-33_Zephyrus/events.out.tfevents.1743803854.Zephyrus.7720.6
t5-qa/runs/Apr04_18-57-37_Zephyrus/events.out.tfevents.1743807457.Zephyrus.15140.1
t5-qa/runs/Apr04_19-26-21_Zephyrus/events.out.tfevents.1743809184.Zephyrus.15140.4
t5-qa/runs/Apr04_19-31-24_Zephyrus/events.out.tfevents.1743809484.Zephyrus.15140.6
t5-qa/runs/Apr04_19-37-43_Zephyrus/events.out.tfevents.1743809864.Zephyrus.15140.8
t5-response/checkpoint-10/added_tokens.json
t5-response/checkpoint-10/config.json
t5-response/checkpoint-10/generation_config.json
t5-response/checkpoint-10/model.safetensors
t5-response/checkpoint-10/optimizer.pt
t5-response/checkpoint-10/rng_state.pth
t5-response/checkpoint-10/scheduler.pt
t5-response/checkpoint-10/special_tokens_map.json
t5-response/checkpoint-10/spiece.model
t5-response/checkpoint-10/tokenizer_config.json
t5-response/checkpoint-10/trainer_state.json
t5-response/checkpoint-10/training_args.bin
t5-response/checkpoint-198/added_tokens.json
t5-response/checkpoint-198/config.json
t5-response/checkpoint-198/generation_config.json
t5-response/checkpoint-198/model.safetensors
t5-response/checkpoint-198/optimizer.pt
t5-response/checkpoint-198/rng_state.pth
t5-response/checkpoint-198/scheduler.pt
t5-response/checkpoint-198/special_tokens_map.json
t5-response/checkpoint-198/spiece.model
t5-response/checkpoint-198/tokenizer_config.json
t5-response/checkpoint-198/trainer_state.json
t5-response/checkpoint-198/training_args.bin
t5-response/checkpoint-6/added_tokens.json
t5-response/checkpoint-6/config.json
t5-response/checkpoint-6/generation_config.json
t5-response/checkpoint-6/model.safetensors
t5-response/checkpoint-6/optimizer.pt
t5-response/checkpoint-6/rng_state.pth
t5-response/checkpoint-6/scheduler.pt
t5-response/checkpoint-6/special_tokens_map.json
t5-response/checkpoint-6/spiece.model
t5-response/checkpoint-6/tokenizer_config.json
t5-response/checkpoint-6/trainer_state.json
t5-response/checkpoint-6/training_args.bin
saved_models/roberta_emotion/config.json
saved_models/roberta_emotion/merges.txt
saved_models/roberta_emotion/model.safetensors
saved_models/roberta_emotion/special_tokens_map.json
saved_models/roberta_emotion/tokenizer_config.json
saved_models/roberta_emotion/tokenizer.json
saved_models/roberta_emotion/vocab.json
saved_models/t5_qa/added_tokens.json
saved_models/t5_qa/config.json
saved_models/t5_qa/generation_config.json
saved_models/t5_qa/model.safetensors
saved_models/t5_qa/special_tokens_map.json
saved_models/t5_qa/spiece.model
saved_models/t5_qa/tokenizer_config.json
saved_models/t5_response/added_tokens.json
saved_models/t5_response/config.json
saved_models/t5_response/generation_config.json
saved_models/t5_response/model.safetensors
saved_models/t5_response/special_tokens_map.json
saved_models/t5_response/spiece.model
saved_models/t5_response/tokenizer_config.json
mental_health_chatbot_happy_brain_v8.ipynb
mental_health_chatbot_happy_brain_v2.ipynb
saved_models/t5_response/model.safetensors
saved_models/t5_response/special_tokens_map.json
saved_models/t5_response/tokenizer_config.json
saved_models/t5_response/special_tokens_map.json
saved_models/t5_response/model.safetensors
saved_models/t5_response/special_tokens_map.json
saved_models/t5_response/tokenizer_config.json
data/emotion_labeled_dataset.csv
data/unified_mental_health_chatbot_dataset.csv
.env